/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

// TAGS
a {
    text-decoration: none;
    color: black;
}

body {
    background: url("fruits.jpg") no-repeat;    
    font-size: 35px;
}

h1 {
    color: #2196F3;
    font-size: 65px;
    text-align: center;
}

i {
    font-size: 35px;
}

input {
    text-align: center;
    font-size: 35px;
}

label {
    font-size: 35px;
}

p {
    font-size: 35px;
}

.select-dropdown {
    font-size: 80px;
}

.dropdown-trigger {
    font-size: 80px;
}

option {
    font-size: 35px;
}

td {
    font-size: 35px;
}

// CLASSES

.alert {
    color: #F44336;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.align-center {
    text-align: center;
}

.btn {
    font-size: 35px;
}

.form-input {
    font-size: 35px !important;
}

.login-body {
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 50%;
    border: 1px solid #808080;
}

.notice {
    color: green;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.system-body {
    background-color: #f2f2f2;
    border-radius: 20px;
    border: 1px solid #808080;
    width: 70%;
}